{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div>
  {% if cart %}
  <ul class="list-group">
    {% for order_product in cart.order_products.all %}
    <li class="list-group-item">
      {{order_product.product.title}}
      {{order_product.product.price}}
      {{order_product.quantity}}
      <form action="/cart/remove/{{order_product.product.id}}/" method="post">
        {% csrf_token %}
        <button>Remove</button>
      </form>
    </li>
    {%endfor%}
  </ul>

  <a href="{% url 'cart-checkout' %}">Checkout</a>
  {% else %}
  <h1>Cart is empty</h1>
  {%endif%}
</div>
{% endblock %}