{% load static %}

<header>
  <nav class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand" href="{% url 'home' %}">Django Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'products-list' %}">Products</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        {% if user.is_authenticated %}

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{user.username}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="{% url 'account_logout' %}">Logout</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a href="{% url 'cart' %}">
            <span class="badge">{{cart.get_number_products}}</span>
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          </a>
        </li>
        {% else %}
        <a class="btn btn-primary" href="{% url 'account_login' %}">Login</a>
        <a class="btn btn-primary" href="{% url 'account_signup' %}">Signup</a>
        {% endif %}
      </ul>
    </div>
  </nav>
</header>